# Modal T handling. Change this to false to allow non-modal T calls
# true: default, default Smoothieware behavior. Any T# command within the gcode line will cause smoothie to treat it as a modal command
# false: Smoothie will only change tools on a line with _just_ "T#", if there are any other G or M codes it will update the specified tool settings
# but will not change the active tool. ( IE: M104 T1 S200 without causing Smoothie to change to using tool 1 just to update it's temperature)
modal_t                                      false